---
import { getImage } from "astro:assets";
import img from "./assets/icon.svg";

export type Props = {
  target: string;
  text: string;
};

const { target, text } = Astro.props;

const icon = await getImage({ src: img });
---

<a
  href={`#${target}`}
  class="border-b-primary-border text-sm/sm inline-grid grid-cols-[auto_auto] items-center gap-x-8 border-b pb-4 font-bold"
>
  {text}
  <span
    role="img"
    aria-label="hidden"
    style={{
      maskImage: `url(${icon.src})`,
      WebkitMaskImage: `url(${icon.src})`,
    }}
    class="size-[1em] bg-[currentColor] mask-cover mask-center mask-no-repeat"
  ></span>
</a>
