---

---

<figure
  class="bg-primary-background border-secondary-border grid gap-y-20 rounded-xl border px-20 py-20"
>
  <figcaption
    class="text-primary-text text-lg/lg lg:text-xl/xl grid justify-center font-bold"
  >
    尼崎こども食堂 〜想いがつくる地域の居場所〜
  </figcaption>
  <ol
    class="grid grid-cols-[minmax(0,var(--spacing-640))] justify-center gap-y-20"
  >
    <li
      class="bg-secondary-background grid justify-items-start gap-y-8 rounded-md p-12"
    >
      <p class="text-sm/base font-bold">前編</p>
      <iframe
        loading="lazy"
        class="aspect-video h-auto w-full"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/GO93VHaVUBI?si=deo5ebdUzl8Iuslz"
        title="【前編】尼崎こども食堂 〜想いがつくる地域の居場所〜"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </li>
    <li
      class="bg-secondary-background grid justify-items-start gap-y-8 rounded-md p-12"
    >
      <p class="text-sm/base font-bold">後編</p>
      <iframe
        loading="lazy"
        class="aspect-video h-auto w-full"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/m0nd0w09Ius?si=4mLJSBaPPdkXBHW6"
        title="【後編】尼崎こども食堂 〜想いがつくる地域の居場所〜"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </li>
  </ol>
</figure>
